body{
    background-color:black;
    color: white;
}


main{
    width: 25%;
    height: auto;
    margin: 150px auto;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
}

.flex-container{
    display:flex;
    justify-content: space-evenly;
}

.grid-container{
    display:grid;
    grid-template: repeat(33%, 3) / repeat(50%, 2);
}

.grid-item:nth-child(0){
    grid-column-start: 1;
    grid-column-end: 2;
}

.colored, #change{
    cursor: pointer;
}

.colored{
    color: orange;
}

#change{
    background-color:gray;
    border: 1px solid gray;
    border-radius: 30%;
    width: 55px;
}

#main-alarm{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

